.btn {
  display: inline-flex;
  button,
  a {
    @include fp(font-size, 18, 22);
    position: relative;
    display: flex;
    align-items: center;
    height: 2em;
    padding: 0 1em;
    z-index: 101;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    border: 0;
    background-color: $primary;
    color: $light;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: -webkit-transform ease 0.2s;
    transition: -webkit-transform ease 0.2s;
    transition: transform ease 0.2s;
    transition: transform ease 0.2s, -webkit-transform ease 0.2s;
    &:hover {
      -webkit-transform: translateY(-0.3rem);
      transform: translateY(-0.3rem);
    }
  }
}
